<div class="card">

    <div class="card-image">
        <figure class="image is-4by3">
            <%= link_to pages_groupe_path(groupe_id: groupe.id) do %>
                <%= image_tag groupe.activité.image, loading: "lazy" %>
            <% end %>
        </figure>
    </div>
    
    <% unless params[:groupe_id] %>
        <div class="card-content">
            <small>
                <strong>
                    <%= truncate groupe.nom, length: 45 %>
                </strong>
            </small>
        </div>

        <footer class="card-footer">
            <p class="card-footer-item">
                <span>
                    <% unless groupe.users.size.zero? %>
                        <%= pluralize(groupe.users.size, 'membre', plural: 'membres') %>
                    <% end %>
                </span>
            </p>

            <p class="card-footer-item">
                <span>
                    <i><%= groupe.activité.nom %></i>
                </span>
            </p>
        </footer>
    <% else %>
        <div class="card-content">
            <%= groupe.nom %>
        </div>
    <% end %>

</div>
