<div class="card">

    <div class="card-image">
        <figure class="image is-4by3">
            <%= image_tag groupe.activité.image, loading: "lazy" %>
        </figure>
    </div>

    <header class="card-header">
        <p class="card-header-title">
            <%= groupe.activité.nom %>
        </p>
    </header>
    
    <% unless params[:groupe_id] %>
        <div class="card-content">
            <small>
                <%= truncate groupe.nom, length: 50 %>
            </small>
        </div>

        <footer class="card-footer">
            <p class="card-footer-item">
                <span>
                    <% unless groupe.users.size.zero? %>
                        <%= pluralize(groupe.users.size, 'membre', plural: 'membres') %>
                    <% end %>
                </span>
            </p>
            <p class="card-footer-item">
                <span>
                    <%= link_to "Rejoindre", pages_groupe_path(groupe_id: groupe.id), class: "card-footer-item" %>
                </span>
            </p>
        </footer>
    <% else %>
        <div class="card-content">
            <%= groupe.nom %>
        </div>
    <% end %>

</div>
