<h1 class="title">
    Administration
</h1>

<ul>
    <li>
        <%= link_to "Gérer les Activités" %>
    </li>

    <li>
        <%= link_to "Gérer les Groupes" %>
    </li>

    <li>
        <%= link_to "Gérer les Utilisateurs" %>
    </li>

    <li>
        <%= link_to "Gérer les Discussions" %>
    </li>

    <li>
        <%= link_to "Gérer les Rencontres" %>
    </li>
</ul>