<div class="columns">
    <div class="column is-2">
        <figure class="image is-128x128">
            <img src="https://bulma.io/images/placeholders/256x256.png" alt="Placeholder image">
        </figure>
    </div>

    <div class="column">
        <h1 class="title is-2">
            <%= @groupe.nom %>
            <p class="subtitle"><i><%= @groupe.activité.nom %></i></p>
        </h1>
    </div>
    <div class="column">
        <h1 class="title">
        Membres
        </h1>

        <ul>
            <% @groupe.users.each do | user | %>
                <li><%= user.email %></li>
            <% end %>
        </ul>
        <br>
        <%= link_to "Rejoindre ce groupe", pages_groupe_path(groupe_id: @groupe.id, rejoindre: true), class: "button is-primary" %>

    </div>
</div>

<h1 class="title">
    <br>
    Discussions
</h1>
<%= render "partials/discussions" %>
    