<div class="columns">
    
    <div class="column">
        <%= render "partials/groupe", groupe: @groupe %>
    </div>

    <div class="column">
        <h1 class="title">
            Membres
        </h1>

        <div class="content">
            <ol class="is-upper-roman">
                <% @groupe.users.each do | user | %>
                    <li><%= user.email %></li>
                <% end %>
            </ol>
            <% unless @groupe.users.include?(current_user) %>
                <%= link_to "Rejoindre ce groupe", pages_groupe_path(groupe_id: @groupe.id, rejoindre: true), class: "button is-primary is-light" %>
            <% else %>
                <%= link_to "Quitter ce groupe", pages_groupe_path(groupe_id: @groupe.id, quitter: true), class: "button is-primary is-light" %>
            <% end %>
        </div>

        <h1 class="title">
            Prochaine rencontre
        </h1>

        <div class="content">
            <ul>
                <li>Lundi 7 décembre 2020</li>
            </ul>
        </div>
    </div>

    <div class="column">
        <h1 class="title">
            Discussions
        </h1>

        <% if @groupe.users.include?(current_user) %> 
            <%= render "partials/discussions", locals: {groupe: @groupe} %>
        <% else %>
            <p>
                Prenez part aux conversations du groupe en vous connectant.
            </p>
        <% end %>
    </div>

</div>

