<%
=begin%>
 <div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">John Smith</p>
        <p class="subtitle is-6">@johnsmith</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a>@bulmaio</a>.
      <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div> 
<%
=end%>

<h1 class="title">
  Activités
</h1>

<div class="tags are-large">
  <% Activité.all.each do | activité | %>
    <span class="tag">
      <%= activité.nom %>
    </span>
  <% end %>
</div>

<h1 class="title">
  Groupes
</h1>


<% if false %>
  <div class="tile is-ancestor">
    <% @groupes.each_with_index do | groupe, index | %>
        <div class="tile is-parent is-3">
          <article class="tile is-child box">
            <p class="title"><%= groupe.nom %></p>
            <p class="subtitle"><%= groupe.activité.nom %></p>
            <% groupe.users.each do | user | %>
              <p>
                <%= user.email %>
              </p>
            <% end %>
          </article>
        </div>
    <% end %>
  </div>
<% end %>

<% unless @groupes.size.zero? %>
  <div class="container">
    <div class="columns is-multiline is-mobile">
      <% @groupes.each_with_index do | groupe, index | %>
        <div class="column is-one-fifth-widescreen is-one-quarter-desktop is-one-third-tablet is-half-mobile">
          <div class="card" style="display: inline;">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <p class="title"><%= groupe.nom %></p>
              <p class="subtitle"><i><%= groupe.activité.nom %></i></p>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>